@Html.Partial("_AdminSidebar")
@{
    
}
<style>
    body {        
        background-color: black        
    }    
    
    .jumbotron {
        background-color: black
    }
    
    hr {color: black;}
    
    p  {color: linen;}

    .container {background-color: black} 
    footer {background-color: black}
    body-content{background-color: black} 
    div {background-color: black}
</style>
<div class="jumbotron" style="background-color: black">
    <img src="~/Content/images/riggen.png" class="img-responsive"/>
</div>

