@{

}
<div class="h2">
    &ensp;
</div>
<div>
    <p>
        Tack för att du verifierar din e-post!. @Html.ActionLink("Klicka här för att logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
