@Html.Partial("_AdminSidebar")
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">

            <div>
                <div>
                    Arbetsordning vid inmatning:
                    <div>
                        <strong>1. Medlemmar</strong>
                    </div>
                    <div>
                        <strong>2. Turnering; Skapa först ny turneringstyp om den inte redan finns, därefter en ny turnering</strong>
                    </div>
                    <div>
                        <strong>3. Lägg till gästspelare om sådan ska vara med</strong>
                    </div>
                    <div>
                        <strong>4. Resultat: Mata in resultatet för aktuell turnering</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

